.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.l-height {
  line-height: 1.5;
}

.card-image-resize {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.card-title-size {
  font-size: 1rem;
}